/* RESET */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
    border-collapse: collapse;
}

/* TYPOGRAPHY and general styles */

h2,h3,h4,h5,h6 {
    font-weight: normal;
    text-align: left;
    font-size: 1.1em;
    line-height: 1em;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    font-weight: normal;
    color: #047;
}
a:hover {
    color: #14C3C9;
    color: red;
}
button {
    background-color: #eec;
    float: left;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #cca;
    border-right: 1px solid #bb0;
    border-bottom: 1px solid #bb0;
}
button:hover {
    background-color: #ff6;
    border: 1px solid #aa4;
    border-right: 1px solid #882;
    border-bottom: 1px solid #882;
}
input {
    border-radius: 3px;
    border: 1px solid #574332;
    padding: 1px 2px;
}
th {
    font-size: 1em;
    font-weight: normal;
}
tr {
    border-top: 2px solid #fff;
}
td {
    padding: 0px 4px;
}
svg {
    display: block;
    margin: 0px auto;
}


/* BOXES, page layout */

html {
    width: 100%;
    background-color: #fff;
}
#container {
    max-width: 600px;
    margin: 0px auto;
    background-color: #fff;
}
#innerContainer {
    margin: 0px 10px;
}

/* SPECIFIC */

header {
    border-radius: 2px;
    padding: 4px 2px;
}
header, div#footer {
    background-color: #4D5751;
}
h1 {
    float: left;
}
img#foofurpleLogo {
    float: left;
    margin: 0px 6px;
    width: 92px;
    height: auto;
}
div#tagline {
    padding: 0px 12px;
    float: right;
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    font-style: italic;
}


/* Menu */

#menu {
    float: left;
}
#menu li {
    list-style: url('data:image/svg+xml;utf8,<svg%20xmlns="http://www.w3.org/2000/svg"%20height="9"%20width="9"%20version="1.1"><g%20transform="translate(-308.74%20-423.25)"><path%20id="path3264"%20fill-rule="evenodd"%20transform="matrix(.812%200%200%20.812%20320.71%20475.52)"%20fill="%23405a5c"%20d="m-9-53.5c-1.358%200.04%200.105-2.939-1.136-3.492-1.241-0.553-2.479%202.526-3.357%201.489-0.878-1.037%202.363-1.75%202.022-3.066-0.341-1.315-3.52-0.363-3.257-1.696%200.263-1.333%202.842%200.756%203.657-0.331%200.816-1.087-1.911-2.979-0.704-3.604%201.206-0.625%201.181%202.693%202.539%202.653%201.358-0.04%201.138-3.351%202.378-2.798%201.241%200.553-1.369%202.602-0.491%203.639%200.878%201.037%203.329-1.2%203.67%200.115%200.341%201.315-2.888%200.552-3.152%201.885-0.263%201.333%203.014%201.855%202.198%202.941-0.816%201.087-2.232-1.914-3.439-1.289-1.206%200.625%200.429%203.513-0.929%203.553z"/></g></svg>');
    padding: 0px;
    margin-left: 20px;
}
#menu a {
    font-size: 0.9em;
    font-weight: bold;
}

/* COLOR CHOOSER */

div#colorButton {
    display: block;
    background-color: #eec;
    float: left;
    border: 1px solid #574332;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden; 
    float: right;
    margin: 2px;
    margin-right: 10px;
    margin-top: 0px;
    padding-top: 6px;
    border: none;
    background-color: #fff;
}
div#colorButton p {
    font-size: 0.9em;
    padding: 0px;
}
div#colorButton input {
    border: 1px solid #999;
    padding: 2px 20px;
    text-align: center;
    cursor: text;
}

/* LINK TO TOP */

#top {
    width: 100%;
    clear: both;
}
#linkToTopDiv {
    float: right;
    margin-right: 30px;
}
a#linkToTop {
    display: block;
    position: fixed;
    bottom: 20px;
    clear: both;
    padding: 7px;
    padding-top:3px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: bold;
    background-color: #eec;
    border: 1px solid #4D5751;
    border-radius: 20px;
}
a#linkToTop:hover {
    background-color: #fff;
}




/* Panel interface */

.interfaceWrapper {
    border-radius: 2px;
    background-color: #cbcbaa;
    padding: 1px;
}
.interface {
    background-color: #ededcc;
}
#panelNumDiv label {
    display: block;
    float: left;
    padding: 1px 4px;
    font-size: 1.2em;
}
div#inputContainerDiv {
    height: 25px;
    border-radius: 2px;
    float: left;
    background-color: #fff;
}
input#panelNum {
    text-align: center;
    font-size: 1.2em;
    border: none;
}
.halfBox {
    width: 50%;
    float: left;
    background-color: #baba99;
}
.innerBox {
    border-radius: 2px;
    margin: 1px;
    margin-left: 0;
}
.innerBoxRight {
    margin: 1px 0px;
}
.strip {
    background-color: #ddb;
}
.innerBox label {
    font-size: 0.9em;
    font-weight: normal;
    padding: 1px 2px;
    vertical-align: top;
    font-style: italic;
}
.textareaWrapper {
    padding: 2px;
    background-color: #fff;
    clear: both;
}
textarea {
    font-size: .8em;
    width: 100%;
    height: 70px;
}














button.greyedOut:hover {
    background-color:  #ddd;
}
button#decreasePanelNum, button#increasePanelNum {
    width: 25px;
    height: 27px;
    cursor: pointer;
    background-image: url('triangleBack.svg');
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin: 0;
}
button#increasePanelNum {
    background-image: url('triangleForward.svg');
}

button#deletePanel, button#newPanel {
    float: right;
    padding-left: 25px;
    padding-right: 2px;
    font-size: 0.7em;
    //width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}


button#deletePanel {
    background-image: url('ekss.svg');
}
button#newPanel {
    background-image: url('plus.svg');
}
#bubble1, #bubble2, #showFaces1, #showFaces2 {
    float: right;
}
button#bubble1 {    
    background-image: url('data:image/svg+xml;utf8,<svg%20xmlns="http://www.w3.org/2000/svg"%20height="28"%20width="28"%20version="1.1"%20><path%20stroke-linejoin="round"%20d="m13.761%203.308c-5.184%200.086-9.756%203.065-10.726%207.291-1.109%204.83%202.903%209.468%208.957%2010.353l0.061-0.003%200.033%200.028-0.137%200.005%208.598%204.168-3.485-4.393c4.186-0.953%207.122-3.531%207.907-6.949%201.109-4.83-2.905-9.468-8.959-10.353-0.757-0.111-1.509-0.158-2.249-0.145zm3.279%2017.45h0.013v0.023l-0.013-0.023z"%20fill-rule="evenodd"%20fill-opacity=".694"%20stroke="%23404040"%20stroke-linecap="round"%20stroke-width="1.7"%20fill="%23c9edd8"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
button#bubble2 {    
    background-image: url('data:image/svg+xml;utf8,<svg%20xmlns="http://www.w3.org/2000/svg"%20height="28"%20width="28"%20version="1.1"><path%20stroke-linejoin="round"%20d="m14.242%203.308c5.184%200.086%209.756%203.065%2010.726%207.291%201.109%204.83-2.903%209.468-8.957%2010.353l-0.061-0.003-0.033%200.028%200.137%200.005-8.598%204.169%203.486-4.393c-4.187-0.954-7.123-3.532-7.908-6.95-1.109-4.83%202.905-9.468%208.959-10.353%200.756-0.111%201.509-0.158%202.249-0.145zm-3.279%2017.45h-0.013v0.023l0.013-0.023z"%20fill-rule="evenodd"%20fill-opacity=".694"%20stroke="%23404040"%20stroke-linecap="round"%20stroke-width="1.7"%20fill="%23c9edd8"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
button#showFaces1, button#showFaces2 {
    width: 40px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="50"%20height="25"%20version="1.0"><g%20stroke-linejoin="round"%20stroke="%23404040"%20stroke-linecap="round"%20transform="matrix(1.316%200%200%201.316%202.197%201.02)"><path%20id="path3612-5"%20d="m15.4%208.6a7%207%200%200%201%20-14%200%207%207%200%201%201%2014%200z"%20stroke-width="1.2"%20fill="%23ff8"/><path%20id="path3620-1"%20d="m4.4%205.4c0%202%203%202%203%200"%20fill="none"/><path%20id="path3622-7"%20d="m9.4%205.4c0%202%203%202%203%200"%20fill="none"/><path%20id="path3156-0"%20d="m4.467%208.867c0%203%202%204%204%204s4-1%204-4"%20fill="none"/>%20%20<path%20id="path3279-1"%20d="m32.925%208.6a7%207%200%200%201%20-14%200%207%207%200%201%201%2014%200z"%20stroke-width="1.2"%20fill="%23ff8"/>%20%20<path%20id="path3281-7"%20d="m21.925%2011.6c0-2%202-3%204-3s4%201%204%203"%20fill="none"/><g%20id="g3014"%20transform="matrix(-1%200%200%201%2050.675%201.1)"%20fill="%23404040"><path%20id="path3322-3"%20d="m23.856%204.857a1.112%201.112%200%201%201%20-2.223%200%201.112%201.112%200%201%201%202.223%200z"%20stroke-width=".741"/><path%20id="path3326-1"%20d="m27.429%204.833a0.667%200.667%200%200%201%20-1.333%200%200.667%200.667%200%201%201%201.333%200z"%20stroke-width=".667"/></g></g></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}


/* Preview */

#previewDiv {
    clear: both;
}
#previewBox {
    height: 200px;
    overflow: hidden;
    clear: both;
}
#svgGoesHere {
    display: block;
}





/* CHARACTERS SELECTION */

div#charactersDiv {
    border-radius: 2px;
    border: 1px solid #aa9;
    background-color: #eec;
    padding: 2px 0px;
}
div#character1Container {
    width: 48%;
    float:left;
}
div#character2Container {
    width: 48%; 
    float:right;
    padding-left: 2px;
    border-left: 1px dashed #574332;
}
#charactersDiv h2 {
    text-align: center;
    padding: 4px;
}
img.character1NotSelected, img.character2NotSelected, img.character1Selected, img.character2Selected {
    width: 40px;
    height: 40px;
    margin: 0px 2px;
    cursor: pointer;
}
img.character1NotSelected, img.character2NotSelected {
    border: 1px solid #ddb;
    border-radius: 5px;
}
img.character1Selected, img.character2Selected {
    border: 1px solid #AB9400;
    background-color: #ee4;
    border-radius: 5px;
}
img.character1NotSelected:hover, img.character2NotSelected:hover {
    background-color: #ee4;
}


/* SAVE IMAGE */

#saveDiv h2 {
    font-size: 1.4em;
    padding: 7px 0px;
}

button#saveImage {
    margin: 6px 2px;
    padding: 5px 0px;
    font-size: 1.2em;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}
div#description {
    font-size: 0.8em;
}
#imageGenerationFoo {
    opacity: 0;
    transition: opacity 1s;
    background-color: #eec;
    padding: 0px 2px;
}
#imageContainer {
    margin:10px 0px;
    width: 100%;
    padding: 6px;
    height: 20px;
    transition: height 2s;
    background-repeat: no-repeat;
    text-align: center;
}
#imageContainer img {
    display: inline;
}


/* FAQ */

div#faq {
    clear: both;
    margin-top: 10px;
}
div#faq h2 {
    font-size: 1.6em;
    padding: 7px 0px;
}
div#faq h3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    padding: 5px 0px;
    padding-top: 10px;
}
div#faq p {
    padding: 5px 0px;
}


/* FOOTER */

div#footer {
    clear:both;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px 10px;
    color: #fff;
    border-radius: 2px;
}
div#footer p {
    text-align: center;
}
div#footer a, div#footer img {
    color: #eee;
}
div#footer a:hover {
    color: #eee;
    text-decoration: underline;
}

